<% provide(:title, 'About') %>
<h1>About Us</h1>
<p>Find our github repository at the following link:</p>
<a href="https://github.com/AlexMilbrandt/p2_bootstrap_app">Our repository</a>
</br>
<%= link_to image_tag("WI-capitol.jpg", alt: "WI Capitol"), 'http://www.wisconsin.gov/state/' %>
