<% provide(:title, 'FAQ') %>
<h1>FAQ</h1>
	<h2> Find frequently asked questions here</h2>

<ol>
	<li>
		Where is the cs lab?</br>
		<div id ="answer">The lab is located in the hall next to the bathrooms </div>
	
	</li>
 <li>
               Where is classroom 1325?</br>
                <div id ="answer">Classroom 1325 is located at the end of the main hallway in CS.</div>

        </li>
 <li>
               How do I succeed in CS?</br>
                <div id ="answer">Know how to program!</div>

        </li>


</ol>
