<footer class="footer">
  <small>
    by Alex Milbrandt and Alyssa Morrow
  </small>
  <nav>
    <ul>
      <li><a href="https://github.com/AlexMilbrandt/p2_bootstrap_app">Our Repository</a></li>
      <li><a href="http://www.wisc.edu/">UW-Madison</a></li>
      <li><a href="http://www.piazza.com/">Visit Piazza</a></li>
    </ul>
  </nav>
</footer>
